---
const year = new Date().getFullYear();
---

<footer>
  <div class="container">
    <div class="footer-content">
      <p>&copy; {year} F1JUSTIN</p>
    </div>
  </div>
</footer>

<style>
  .footer-content {
    border-top: 1px solid #eaeaea;
    padding-top: var(--space-md);
  }
</style>
