<header>
  <div class="container">
    <nav>
      <div class="logo">
        <a href="/">F1JUSTIN</a>
      </div>
      <ul>
        <li><a href="#about">关于</a></li>
        <li><a href="#contact">联系</a></li>
      </ul>
    </nav>
  </div>
</header>
